In [1]:
import pandas as pd
import yfinance as yf

C:\Users\vaibh\anaconda3\lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
tickerSymbol = 'BTC-USD'
startDate = '2021-01-01'
endDate = '2023-12-31'
btcData = yf.download(tickerSymbol, start=startDate, end=endDate)

[*********************100%%**********************]  1 of 1 completed

In [3]:
btcData.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782

In [4]:
btcData.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-26,43599.847656,43603.175781,41676.488281,42520.402344,42520.402344,30026850982
2023-12-27,42518.468750,43683.160156,42167.582031,43442.855469,43442.855469,25260941032
2023-12-28,43468.199219,43804.781250,42318.550781,42627.855469,42627.855469,22992093014
2023-12-29,42614.644531,43124.324219,41424.062500,42099.402344,42099.402344,26000021055
2023-12-30,42091.753906,42584.125000,41556.226562,42156.902344,42156.902344,16013925945

In [5]:
exchangeRate = "0.26680"

In [6]:
exchangeRate = float(exchangeRate)

In [7]:
print("SAR to USD exchange rate:", exchangeRate)

SAR to USD exchange rate: 0.2668

In [8]:
columns = btcData.columns

print(columns)

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
columnMapping = {
    'Open': 'Open_USD',
    'High': 'High_USD',
    'Low': 'Low_USD',
    'Close': 'Close_USD',
    'Adj Close': 'Adj Close_USD'
}

btcData.rename(columns=columnMapping, inplace=True)

btcData.head()

,Open_USD,High_USD,Low_USD,Close_USD,Adj Close_USD,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782

In [10]:
columns = btcData.columns

print(columns)

Index(['Open_USD', 'High_USD', 'Low_USD', 'Close_USD', 'Adj Close_USD',
       'Volume'],
      dtype='object')

In [11]:
btcDataUsd = btcData.copy()

In [12]:
btcData.drop(columns='Volume', inplace=True)

In [13]:
btcData['Open_SAR'] = btcData['Open_USD'] / exchangeRate
btcData['High_SAR'] = btcData['High_USD'] / exchangeRate
btcData['Low_SAR'] = btcData['Low_USD'] / exchangeRate
btcData['Close_SAR'] = btcData['Close_USD'] / exchangeRate
btcData['Adj Close_SAR'] = btcData['Adj Close_USD'] / exchangeRate

In [14]:
btcData.drop(columns=['Open_USD', 'High_USD', 'Low_USD', 'Close_USD', 'Adj Close_USD'], inplace=True)

In [15]:
btcData = pd.concat([btcDataUsd, btcData], axis=1)

In [16]:
print(btcData.head())

                Open_USD      High_USD       Low_USD     Close_USD  \
Date
2021-01-01  28994.009766  29600.626953  28803.585938  29374.152344
2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
2021-01-04  32810.949219  33440.218750  28722.755859  31971.914062
2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688

            Adj Close_USD       Volume       Open_SAR       High_SAR  \
Date
2021-01-01   29374.152344  40730301359  108673.200021  110946.877635
2021-01-02   32127.267578  67865420765  110106.653216  124269.554676
2021-01-03   32782.023438  78665235202  120425.068228  129717.236109
2021-01-04   31971.914062  81163475344  122979.569785  125338.151237
2021-01-05   33992.429688  67547324782  119853.976820  129076.423702

                  Low_SAR      Close_SAR  Adj Close_SAR
Date
2021-01-01  107959.467532  110098.022278  110098.022278
2021-01-02  109037.412446  120417.044896  120417.044896
2021-01-03  120136.118464  122871.152314  122871.152314
2021-01-04  107656.506220  119834.760354  119834.760354
2021-01-05  113272.816717  127407.907374  127407.907374

In [17]:
columns = btcData.columns

print(columns)

Index(['Open_USD', 'High_USD', 'Low_USD', 'Close_USD', 'Adj Close_USD',
       'Volume', 'Open_SAR', 'High_SAR', 'Low_SAR', 'Close_SAR',
       'Adj Close_SAR'],
      dtype='object')

In [18]:
btcData.drop(columns=['Adj Close_USD', 'Adj Close_SAR'], inplace=True)

In [19]:
column_mapping = {
    'Open_SAR': 'open_SAR', 
    'Open_USD': 'open_USD', 
    'High_SAR': 'high_SAR', 
    'High_USD': 'high_USD', 
    'Low_SAR': 'low_SAR', 
    'Low_USD': 'low_USD', 
    'Close_SAR': 'close_SAR', 
    'Close_USD': 'close_USD', 
    'Volume': 'volume'
}

btcData.rename(columns=column_mapping, inplace=True)

print(btcData.head())

                open_USD      high_USD       low_USD     close_USD  \
Date
2021-01-01  28994.009766  29600.626953  28803.585938  29374.152344
2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
2021-01-04  32810.949219  33440.218750  28722.755859  31971.914062
2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688

                 volume       open_SAR       high_SAR        low_SAR  \
Date
2021-01-01  40730301359  108673.200021  110946.877635  107959.467532
2021-01-02  67865420765  110106.653216  124269.554676  109037.412446
2021-01-03  78665235202  120425.068228  129717.236109  120136.118464
2021-01-04  81163475344  122979.569785  125338.151237  107656.506220
2021-01-05  67547324782  119853.976820  129076.423702  113272.816717

                close_SAR
Date
2021-01-01  110098.022278
2021-01-02  120417.044896
2021-01-03  122871.152314
2021-01-04  119834.760354
2021-01-05  127407.907374

In [20]:
btcData.head()

,open_USD,high_USD,low_USD,close_USD,volume,open_SAR,high_SAR,low_SAR,close_SAR
Date,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,40730301359,108673.200021,110946.877635,107959.467532,110098.022278
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,67865420765,110106.653216,124269.554676,109037.412446,120417.044896
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,78665235202,120425.068228,129717.236109,120136.118464,122871.152314
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,81163475344,122979.569785,125338.151237,107656.506220,119834.760354
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,67547324782,119853.976820,129076.423702,113272.816717,127407.907374

In [21]:
btcData.columns

Index(['open_USD', 'high_USD', 'low_USD', 'close_USD', 'volume', 'open_SAR',
       'high_SAR', 'low_SAR', 'close_SAR'],
      dtype='object')

In [22]:
btcData.head()

,open_USD,high_USD,low_USD,close_USD,volume,open_SAR,high_SAR,low_SAR,close_SAR
Date,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,40730301359,108673.200021,110946.877635,107959.467532,110098.022278
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,67865420765,110106.653216,124269.554676,109037.412446,120417.044896
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,78665235202,120425.068228,129717.236109,120136.118464,122871.152314
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,81163475344,122979.569785,125338.151237,107656.506220,119834.760354
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,67547324782,119853.976820,129076.423702,113272.816717,127407.907374

In [23]:
btcData.head()

,open_USD,high_USD,low_USD,close_USD,volume,open_SAR,high_SAR,low_SAR,close_SAR
Date,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,40730301359,108673.200021,110946.877635,107959.467532,110098.022278
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,67865420765,110106.653216,124269.554676,109037.412446,120417.044896
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,78665235202,120425.068228,129717.236109,120136.118464,122871.152314
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,81163475344,122979.569785,125338.151237,107656.506220,119834.760354
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,67547324782,119853.976820,129076.423702,113272.816717,127407.907374

In [24]:
print(btcData.dtypes)

open_USD     float64
high_USD     float64
low_USD      float64
close_USD    float64
volume         int64
open_SAR     float64
high_SAR     float64
low_SAR      float64
close_SAR    float64
dtype: object

In [25]:
btcData.index = pd.to_datetime(btcData.index)

def convertDateFormat(date):
    return date.strftime("%m/%d/%Y")

btcData.index = btcData.index.map(convertDateFormat)

print(btcData)

                open_USD      high_USD       low_USD     close_USD  \
Date
01/01/2021  28994.009766  29600.626953  28803.585938  29374.152344
01/02/2021  29376.455078  33155.117188  29091.181641  32127.267578
01/03/2021  32129.408203  34608.558594  32052.316406  32782.023438
01/04/2021  32810.949219  33440.218750  28722.755859  31971.914062
01/05/2021  31977.041016  34437.589844  30221.187500  33992.429688
...                  ...           ...           ...           ...
12/26/2023  43599.847656  43603.175781  41676.488281  42520.402344
12/27/2023  42518.468750  43683.160156  42167.582031  43442.855469
12/28/2023  43468.199219  43804.781250  42318.550781  42627.855469
12/29/2023  42614.644531  43124.324219  41424.062500  42099.402344
12/30/2023  42091.753906  42584.125000  41556.226562  42156.902344

                 volume       open_SAR       high_SAR        low_SAR  \
Date
01/01/2021  40730301359  108673.200021  110946.877635  107959.467532
01/02/2021  67865420765  110106.653216  124269.554676  109037.412446
01/03/2021  78665235202  120425.068228  129717.236109  120136.118464
01/04/2021  81163475344  122979.569785  125338.151237  107656.506220
01/05/2021  67547324782  119853.976820  129076.423702  113272.816717
...                 ...            ...            ...            ...
12/26/2023  30026850982  163417.719851  163430.194083  156208.726691
12/27/2023  25260941032  159364.575525  163729.985593  158049.407913
12/28/2023  22992093014  162924.284928  164185.836769  158615.257801
12/29/2023  26000021055  159725.054465  161635.398121  155262.603073
12/30/2023  16013925945  157765.194551  159610.663418  155757.970624

                close_SAR
Date
01/01/2021  110098.022278
01/02/2021  120417.044896
01/03/2021  122871.152314
01/04/2021  119834.760354
01/05/2021  127407.907374
...                   ...
12/26/2023  159371.822878
12/27/2023  162829.293361
12/28/2023  159774.570722
12/29/2023  157793.861858
12/30/2023  158009.379100

[1094 rows x 9 columns]

In [26]:
print(btcData.dtypes)

open_USD     float64
high_USD     float64
low_USD      float64
close_USD    float64
volume         int64
open_SAR     float64
high_SAR     float64
low_SAR      float64
close_SAR    float64
dtype: object

In [27]:
btcData.head()

,open_USD,high_USD,low_USD,close_USD,volume,open_SAR,high_SAR,low_SAR,close_SAR
Date,,,,,,,,,
01/01/2021,28994.009766,29600.626953,28803.585938,29374.152344,40730301359,108673.200021,110946.877635,107959.467532,110098.022278
01/02/2021,29376.455078,33155.117188,29091.181641,32127.267578,67865420765,110106.653216,124269.554676,109037.412446,120417.044896
01/03/2021,32129.408203,34608.558594,32052.316406,32782.023438,78665235202,120425.068228,129717.236109,120136.118464,122871.152314
01/04/2021,32810.949219,33440.218750,28722.755859,31971.914062,81163475344,122979.569785,125338.151237,107656.506220,119834.760354
01/05/2021,31977.041016,34437.589844,30221.187500,33992.429688,67547324782,119853.976820,129076.423702,113272.816717,127407.907374

In [28]:
btcData.to_excel('digital_currency_data.xlsx', index=True)